{{ define "main" }}
{{ partial "header/header.html" . }}
<main class="max-w-xs xl:max-w-7xl md:max-w-[45rem] sm:max-w-[39rem] mx-auto">
  <header class="text-center my-20">
      <h1 class="font-extrabold text-4xl leading-10 mb-1.5">Choose Your Plan</h1>
      <p class="text-lg leading-7 text-gray-700 px-6">Pay by month or the year, and cancel at any time.</p>
  </header>

  <section>
      <div class="grid overflow-x-auto gap-5 pb-4" style="grid-template-columns: repeat(4, 1fr);">
          <!-- free plan -->
          <div class="text-center w-[280px] border border-blue-200 rounded-2xl shadow-lg min-h-[515px]">
              <h2 class="bg-blue-200 font-bold text-2xl leading-8 rounded-t-2xl text-center py-5">Free</h2>
              <div class="my-11"><span class="text-4xl leading-10">$</span><span class="text-6xl leading-none font-extrabold">0</span></div>
              <p class="text-sm leading-5 px-2">For small teams to plan and track work more efficiently</p>
              <a href="{{ .Site.Params.inliveStudioOrigin }}/login" aria-label="link-to-studio">
                <button aria-label="getStarted" type="button" class="bg-white text-blue-600 border border-blue-600 rounded-md shadow-lg py-[13px] px-[25px] mt-[52px] mb-10 text-center">Get Started</button>
              </a>
              <ul class="list-disc pt-10 pl-10 pr-7 border-t border-t-gray-300 text-left text-sm leading-7">
                {{/*  <li><b>3</b> Streaming hours</li>  */}}
                <li><b>1,000</b> Minutes views</li>
                {{/*  <li><b>1</b> Simultaneous Live Streams</li>
                <li><b>1</b> Max Streaming Hours per Streaming</li>
                <li><b>17</b> Viewers (1 hour per view)</li>  */}}
              </ul>
          </div>
          <!-- standard plan -->
          <div class="text-center w-[280px] border border-blue-200 rounded-2xl shadow-lg min-h-[515px]">
              <h2 class="bg-blue-200 font-bold text-2xl leading-8 rounded-t-2xl text-center py-5">Standart</h2>
              <div class="my-11"><span class="text-4xl leading-10">$</span><span class="text-6xl leading-none font-extrabold">9</span></div>
              <p class="text-sm leading-5 px-2">For growing teams focused on building more together</p>
              <a href="{{ .Site.Params.inliveStudioOrigin }}/login" aria-label="link-to-studio">
                <button aria-label="startTrial" type="button" class="bg-white text-blue-600 border border-blue-600 rounded-md shadow-lg py-[13px] px-[25px] mt-[52px] mb-10 text-center">Start Trial</button>
              </a>
              <ul class="list-disc pt-10 pl-10 pr-7 border-t border-t-gray-300 text-left text-sm leading-7">
                {{/*  <li><b>10</b> Streaming hours</li>  */}}
                <li><b>4,200</b> Minutes views</li>
                {{/*  <li><b>2</b> Simultaneous Live Streams</li>
                <li><b>4</b> Max Streaming Hours per Streaming</li>
                <li><b>0.9</b> Price / Hours</li>
                <li><b>70</b> Viewers (1 hour per view)</li>  */}}
                <li><b>1.2</b> Overage Hours Price</li>
                {{/*  <li><b>7</b> Margin price - streaming cost</li>
                <li><b>77.78%</b> Margin</li>  */}}
              </ul>
          </div>
          <!-- premium plan -->
          <div class="text-center w-[280px] border border-blue-200 rounded-2xl shadow-lg min-h-[515px]">
              <h2 class="bg-blue-200 font-bold text-2xl leading-8 rounded-t-2xl text-center py-5">Premium</h2>
              <div class="my-11"><span class="text-4xl leading-10">$</span><span class="text-6xl leading-none font-extrabold">49</span></div>
              <p class="text-sm leading-5 px-2">For organizations that need to scale how they collaborate and track work</p>
              <a href="{{ .Site.Params.inliveStudioOrigin }}/login" aria-label="link-to-studio">
                <button aria-label="startTrial" type="button" class="bg-white text-blue-600 border border-blue-600 rounded-md shadow-lg py-[13px] px-[25px] mt-[52px] mb-10 text-center">Start Trial</button>
              </a>
              <ul class="list-disc pt-10 pl-10 pr-7 border-t border-t-gray-300 text-left text-sm leading-7">
                {{/*  <li><b>60</b> Streaming hours</li>  */}}
                <li><b>22,000</b> Minutes views</li>
                {{/*  <li><b>5</b> Simultaneous Live Streams</li>
                <li><b>12</b> Max Streaming Hours per Streaming</li>
                <li><b>0.8167</b> Price / Hours</li>
                <li><b>367</b> Viewers (1 hour per view)</li>  */}}
                <li><b>1</b> Overage Hours Price</li>
                {{/*  <li><b>37</b> Margin price - streaming cost</li>
                <li><b>75.51%</b> Margin</li>  */}}
              </ul>
          </div>
          <!-- enterpise plan -->
          <div class="text-center w-[280px] border border-blue-200 rounded-2xl shadow-lg min-h-[515px]">
              <h2 class="bg-blue-200 font-bold text-2xl leading-8 rounded-t-2xl text-center py-5">Enterprise</h2>
              <div class="my-11"><span class="text-4xl leading-10">$</span><span class="text-6xl leading-none font-extrabold">99</span></div>
              <p class="text-sm leading-5 px-2">For enterprises with global scale, security, and governance needs</p>
              <a href="{{ .Site.Params.inliveStudioOrigin }}/login" aria-label="link-to-studio">
                <button aria-label="startTrial" type="button" class="bg-white text-blue-600 border border-blue-600 rounded-md shadow-lg py-[13px] px-[25px] mt-[52px] mb-10 text-center">Start Trial</button>
              </a>
              <ul class="list-disc pt-10 pl-10 pr-7 border-t border-t-gray-300 text-left text-sm leading-7">
                {{/*  <li><b>150</b> Streaming hours</li>  */}}
                <li><b>50,000</b> Minutes views</li>
                {{/*  <li><b>9</b> Simultaneous Live Streams</li>
                <li><b>Unlimited</b> Max Streaming Hours per Streaming</li>
                <li><b>0.66</b> Price / Hours</li>
                <li><b>833</b> Viewers (1 hour per view)</li>  */}}
                <li><b>0,8</b> Overage Hours Price</li>
                {{/*  <li><b>69</b> Margin price - streaming cost</li>
                <li><b>69.70%</b> Margin</li>  */}}
              </ul>
          </div>
      </div>
  </section>

  <section class="mt-20">
    <div class="px-4 lg:px-20">
      <div class="max-w-7xl mx-auto py-12 lg:py-10">
        <h2 class="mb-4 font-extrabold text-3xl lg:text-4xl text-blue-900 text-center">
          Try inLive today
        </h2>
        <p class="max-w-3xl text-base text-gray-600 mx-auto mb-6 lg:mb-8 text-center">Explore Developer Portal to get up
          and running with inLive API as easy as count 1-2-3, or create an account in inLive Studio to start live
          streaming from your browser.</p>
        <div class="flex flex-col sm:flex-row gap-4 text-center justify-center">
          <a href="/docs/introduction/"
            class="min-w-[180px] w-full sm:w-auto py-2 px-4 bg-blue-100 rounded-md font-medium text-sm text-blue-700">Visit Our Documentation</a>
          <a href="mailto:technology@asumsi.co" target="_blank" rel="noopener noreferrer"
            class="min-w-[180px] w-full sm:w-auto py-2 px-4 bg-blue-100 rounded-md font-medium text-sm text-blue-700">Contact Us</a>
        </div>
      </div>
    </div>
  </section>
</main>
{{ end }}

{{ define "footer" }}
{{ partial "footer/footer.html" . }}
{{ end }}

{{ define "script" }}
{{ $globalJS := resources.Get "js/global.js" | minify }}
<script type="text/javascript" src="{{ $globalJS.RelPermalink }}" defer></script>
{{ end }}