<div class="py-2 lg:py-3 flex flex-col lg:flex-row gap-3 lg:gap-6 lg:justify-between text-sm">
  <div>
    <strong class="font-semibold uppercase text-xs text-gray-900">We're now in beta</strong>
    <p class="mt-0.5 max-w-lg text-xs text-gray-700">We want you to join us in improving our product.
      <a href="https://github.com/orgs/inlivedev/discussions" class="underline whitespace-nowrap" target="_blank" rel="noopener noreferrer" data-tracking-event="open-link" data-tracking-label="Beta GitHub discussion feedback link">
        Tell us your experience on GitHub!
      </a>
    </p>
  </div>
  <div class="flex items-center">
    <a href="https://docs.google.com/forms/d/e/1FAIpQLScdo7fm1XbfaW9_O59IqU2GX7qy9f6huZBybWLMnsY_rML66A/viewform" class="uppercase flex gap-1 items-center hover:underline text-xs text-gray-700 font-medium" target="_blank" rel="noopener noreferrer" data-tracking-event="open-link" data-tracking-label="3 months of business plan beta form info bar">
      <b class="font-semibold">Get free 3 months business plan</b>
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
        <path d="M5 12l14 0"></path>
        <path d="M13 18l6 -6"></path>
        <path d="M13 6l6 6"></path>
      </svg>
    </a>
  </div>
</div>