<section class="bg-blue-50 z-10">
  <div class="max-w-7xl mx-auto">
    {{ partial "header/beta.html" . }}
  </div>
</section>
<header class="w-full sticky top-0 z-10 bg-white">
  <div class="max-w-7xl mx-auto">
    <div class="p-4 lg:px-8 lg:py-5 flex items-center justify-between">
      <div class="flex items-center">
        <a href="/" class="block leading-6 text-gray-700 text-lg font-extrabold tracking-wide"
          aria-label="InLive header logo">
          {{ partial "logo/logo.html" }}
        </a>
      </div>
      <!-- Hamburger menu -->
      <button type="button" class="block lg:hidden p-1 text-gray-500" aria-label="open navigation menu"
        onclick="handleToggleNavMenu()">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 8h16M4 16h16" />
        </svg>
      </button>
      {{ partial "navbar/navbar.html" . }}
    </div>
  </div>
  <div style="top: -1px;" class="w-full border-b border-gray-300 relative"></div>
</header>
{{ partial "navbar/mobile-navbar.html" . }}