<header class="h-14 lg:h-16 w-full sticky top-0 z-10">
  <div class="bg-white p-3 lg:px-8 lg:py-5 flex items-center justify-between">
    <div class="flex items-center">
      <a href="/" class="w-16 h-6">
        <img class="w-full h-full object-cover" width="64" height="24" src="/images/logo/logo.png" alt="Inlive Logo">
      </a>
    </div>
    <!-- Hamburger menu -->
    <button type="button" class="block lg:hidden p-1 text-gray-500" aria-label="open navigation menu" onclick="handleToggleNavMenu()">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 8h16M4 16h16" />
      </svg>
    </button>
    {{- partial "navbar/navbar.html" . -}}
  </div>
  <div style="top: -1px;" class="w-full border-b border-gray-300 relative"></div>
</header>
{{- partial "navbar/mobile-navbar.html" . -}}