@tailwind base;
@tailwind components;

#docs-content h1:first-child {
  @apply font-bold text-3xl lg:text-4xl text-gray-900 mb-4 lg:mb-8
}

#docs-content h1:first-child + p {
  @apply mb-6 text-lg lg:text-xl lg:leading-8 text-gray-600
}

.blink {
  margin-right: 0.6em;
}

.blink::after {
  margin-right: -0.6em;
  content: '';
  display: inline-block;
  width: 0.6em;
  height: 0.15em;
  background-color: #CAD4E0;
  -webkit-animation: blink 1s step-end infinite;
  animation: blink 1s step-end infinite;
}

@-webkit-keyframes blink {
  0% {
    opacity: 1.0;
  }

  50% {
    opacity: 0.0;
  }

  100% {
    opacity: 1.0;
  }
}

@keyframes blink {
  0% {
    opacity: 1.0;
  }

  50% {
    opacity: 0.0;
  }

  100% {
    opacity: 1.0;
  }
}

/* put below to ensure utilities can still override the styles */
@tailwind utilities;