{{ define "main" }}
{{ partial "header/header.html" . }}

<main>
  <section class="mt-16 lg:mt-52 mx-auto max-w-7xl px-4">
    <div class="max-w-[600px]">
      <div
        class="inline-block mb-4 py-1 px-3 text-center bg-emerald-100 rounded-3xl text-xs font-semibold text-emerald-700">
        In planning to development
      </div>
      <h1 class="blink font-bold text-4xl lg:text-6xl -tracking-wide text-slate-800">
        WebRTC Video Conferencing API
      </h1>
      <p class="mt-4 lg:mt-6 font-medium text-base text-slate-500">
        Simple and easy-to-use WebRTC conference API for building real-time video conferencing applications.
      </p>
    </div>
  </section>
  {{ partial "landing/waitlist-cta-banner.html" (
  dict "context" .
  "paragraph" "Join our growing waitlist and our team will reach out to you as soon as this feature available."
  ) }}

  <style>
    .bg-gradient {
      background: linear-gradient(to bottom, hsla(0, 0%, 100%, 1), hsla(0, 0%, 100%, 1), hsla(210, 25%, 98%, 1), hsla(210, 25%, 98%, 1));
    }
  </style>

  <section class="bg-gradient pb-12 lg:pb-32">
    <div class="mx-auto max-w-7xl px-4">
      <div class="text-center max-w-3xl mx-auto flex flex-col gap-2 lg:gap-4">
        <div>
          <h2 class="font-bold text-2xl lg:text-4xl text-slate-800 leading-tight">
            Technology for effective virtual conference
          </h2>
        </div>
        <div>
          <p class="font-medium text-base lg:text-lg leading-6 text-slate-500">
            We offer features that makes productive conference happen
          </p>
        </div>
      </div>
      <div class="mt-10 lg:mt-20">
        <ul class="grid grid-cols-1 gap-6 sm:grid-cols-6 sm:grid-rows-6 sm:gap-4 lg:grid-cols-3 lg:grid-rows-1">
          <li class="sm:col-span-3 lg:col-span-1 lg:row-span-1">
            {{ partial "landing/feature-item.html" (
            dict "context" .
            "heading" `Affordable and fair pricing`
            "paragraph" `Charge per bandwidth usage, not per participant, not per minute.`
            ) }}
          </li>
          <li class="sm:col-span-3 lg:col-span-1 lg:row-span-1">
            {{ partial "landing/feature-item.html" (
            dict "context" .
            "heading" `Secure conference room`
            "paragraph" `Create a secure conference room with a simple REST API and bring multiple participants together
            to interact in real-time.`
            ) }}
          </li>
          <li class="sm:col-span-3 lg:col-span-1 lg:row-span-1">
            {{ partial "landing/feature-item.html" (
            dict "context" .
            "heading" `Unique invitation link`
            "paragraph" `Unique link for each participant. Create a paid join link for your conference room.`
            ) }}
          </li>
          <li class="sm:col-span-3 lg:col-span-1 lg:row-span-1">
            {{ partial "landing/feature-item.html" (
            dict "context" .
            "heading" `Track events and activities`
            "paragraph" `Track events or activities in the room and create automation for your app`
            ) }}
          </li>
        </ul>
      </div>
    </div>
  </section>

  {{ partial "landing/waitlist-cta-banner.html" (
  dict "context" .
  "heading" "Be one of the first to use"
  "paragraph" "Join our growing waitlist and our team will reach out to you as soon as this feature available."
  ) }}
</main>

{{ partial "landing/waitlist-dialog.html" . }}
{{ end }}

{{ define "footer" }}
{{ partial "footer/footer.html" . }}
{{ end }}

{{ define "script" }}
{{ $globalJS := resources.Get "js/global.js" | minify }}
<script type="text/javascript" src="{{ $globalJS.RelPermalink }}" defer></script>
{{ end }}