{{ define "main" }}
{{ partial "header/header.html" . }}
<main class="mb-20 max-w-5xl mx-auto">
  <article class="px-4 lg:px-28 pt-4 lg:pt-8">
    <a href="/blog/" class="inline-flex items-center rounded pl-1 pr-2 py-1.5 font-semibold text-sm text-blue-700 hover:bg-blue-100">
      <span class="mr-1 flex items-center">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
          <path fill-rule="evenodd" d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z" clip-rule="evenodd" />
        </svg>
      </span>
      Back to Blog
    </a>
    <time datetime="{{ .Date.Format `2006-01-02T00:00` }}" class="mt-10 lg:mt-16 mb-2 block text-center text-sm text-gray-500">{{ .Date.Format "02 January 2006" }}</time>
    <article id="blog-content" class="max-w-none prose prose-blue prose-a:no-underline hover:prose-a:underline first:prose-h1:text-center first:prose-h1:text-3xl lg:first:prose-h1:text-4xl first:prose-h1:tracking-tight first:prose-h1:pb-10 lg:first:prose-h1:pb-16 first:prose-h1:mb-10 lg:first:prose-h1:mb-16 first:prose-h1:border-b first:prose-h1:border-gray-300 prose-blockquote:not-italic prose-quoteless prose-img:rounded-md">
      {{ .Content }}
    </article>
  </article>
</main>
{{ partial "cta/try-inlive.html" . }}
{{ end }}

{{ define "footer" }}
{{ partial "footer/footer.html" . }}
{{ end }}

{{ define "script" }}
{{ $globalJS := resources.Get "js/global.js" | minify }}
<script type="text/javascript" src="{{ $globalJS.RelPermalink }}" defer></script>
{{ end }}