<nav class="hidden lg:block">
  <ul class="flex items-center">
    <li class="mr-8 font-semibold text-sm leading-6">
      <a href="#what-we-offer" class="inline-block text-gray-700 hover:text-blue-600">What We Offer</a>
    </li>
    <li class="mr-8 font-semibold text-sm leading-6">
      <a href="#what-is-inlive" class="inline-block text-gray-700 hover:text-blue-600">What is inLive</a>
    </li>
    <li class="mr-8 font-semibold text-sm leading-6">
      <a href="#developer-portal" class="inline-block text-gray-700 opacity-50 pointer-events-none cursor-not-allowed" aria-disabled="true">Developer Portal</a>
    </li>
    <li class="mr-8 font-semibold text-sm leading-6">
      <hr class="w-[1px] border-none h-6 bg-gray-300">
    </li>
    <li class="font-semibold text-sm leading-6">
      <a href="/login" class="inline-block text-gray-700 hover:text-blue-600">Login</a>
    </li>
  </ul>
</nav>