<style>
  .circle {
    background: linear-gradient(180deg, #F7F9FB 0%, #E1E7EF 100%);
    box-shadow: inset 0px -2px 4px rgba(0, 0, 0, 0.15);
    border-radius: 1.25rem;
    border: 1px solid #CAD4E0;
  }
</style>

<section class="my-10">
  <div class="py-10 relative mx-auto max-w-7xl">
    <div class="hidden lg:block w-full h-full absolute top-0 left-0 lg:px-8 -z-10">
      <div class="w-full h-full relative">
        <div class="dashed-vertical-line absolute top-0 left-0"></div>
        <div class="dashed-vertical-line absolute top-0 right-0"></div>
      </div>
    </div>
    <div class="py-8 px-4 lg:px-8 lg:text-center relative overflow-hidden">
      <div class="dashed-horizontal-line absolute top-0"></div>
      <div class="block lg:inline-block">
        <div class="flex flex-col xl:flex-row gap-8 xl:gap-16">
          <h2 class="font-bold text-2xl text-slate-700 xl:max-w-[240px] xl:text-left">
            Here's a quick guide to getting started
          </h2>
          <ol class="flex flex-col lg:flex-row gap-6 lg:gap-8">
            <li class="flex flex-row gap-5 lg:gap-3">
              <div class="flex items-center">
                <span
                  class="circle w-10 lg:w-8 h-10 lg:h-8 p-2 rounded flex items-center justify-center text-base lg:text-sm font-semibold text-slate-500">1</span>
              </div>
              <div class="flex items-center">
                <p class="font-medium text-lg lg:text-base text-slate-700">
                  Register an API key
                </p>
              </div>
            </li>
            <li class="flex flex-row gap-5 lg:gap-3">
              <div class="flex items-center">
                <span
                  class="circle w-10 lg:w-8 h-10 lg:h-8 p-2 rounded flex items-center justify-center text-base lg:text-sm font-semibold text-slate-500">2</span>
              </div>
              <div class="flex items-center">
                <p class="font-medium text-lg lg:text-base text-slate-700">
                  Check our docs and code example
                </p>
              </div>
            </li>
            <li class="flex flex-row gap-5 lg:gap-3">
              <div class="flex items-center">
                <span
                  class="circle w-10 lg:w-8 h-10 lg:h-8 p-2 rounded flex items-center justify-center text-base lg:text-sm font-semibold text-slate-500">3</span>
              </div>
              <div class="flex items-center">
                <p class="font-medium text-lg lg:text-base text-slate-700">
                  Start to build your app
                </p>
              </div>
            </li>
          </ol>
        </div>
      </div>
      <div class="dashed-horizontal-line absolute bottom-0"></div>
    </div>
  </div>
</section>