<style>
  .dashed-horizontal-line {
    height: 1px;
    background: linear-gradient(to right, transparent 50%, #fff 50%), linear-gradient(to right, rgba(202, 212, 224, 0) 0%, #CAD4E0 8.34%, #CAD4E0 91.65%, rgba(202, 212, 224, 0) 100%);
    background-size: 10px 2px, 100% 2px;
  }

  .dashed-vertical-line {
    width: 1px;
    height: 100%;
    background: linear-gradient(to bottom, transparent 50%, #fff 50%), linear-gradient(to bottom, rgba(202, 212, 224, 0) 0%, #CAD4E0 30.72%, #CAD4E0 68.86%, rgba(202, 212, 224, 0) 100%);
    background-size: 2px 10px, 100%;
  }
</style>
<section class="my-10">
  <div class="py-10 relative">
    <div class="hidden lg:block w-full h-full absolute top-0 left-0 lg:px-28 -z-10">
      <div class="w-full h-full relative">
        <div class="dashed-vertical-line absolute top-0 left-0"></div>
        <div class="dashed-vertical-line absolute top-0 right-0"></div>
      </div>
    </div>
    <div class="dashed-horizontal-line"></div>
    <div class="py-8 mx-auto max-w-7xl px-4">
      <div class="max-w-3xl mx-auto text-center">
        <div class="flex flex-col gap-2 lg:gap-4">
          {{ if .heading }}
          <div>
            <h2 class="font-bold text-2xl lg:text-4xl text-slate-800">
              {{ .heading }}
            </h2>
          </div>
          {{ end }}
          {{ if .paragraph }}
          <div>
            <p class="font-medium text-base text-slate-700">
              {{ .paragraph }}
            </p>
          </div>
          {{ end }}
          <div class="mt-2">
            <button data-open-dialog="waitlist-form"
              class="py-2 px-4 bg-slate-900 rounded-md font-medium text-sm text-slate-100 waitlist-cta">
              Join waitlist
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="dashed-horizontal-line"></div>
  </div>
</section>